.header{
    display: flex;
    width: 100%;
    padding: 2rem ;
    justify-content: space-between;
    margin-bottom: 2rem;
}
.dashboard{
    display: flex;
    width: 50%;
}

.form_search{
    position: relative;
    width: 100%;
}
.input_search{
    width: 50%;
    outline: none;
    border: none;
    border-radius: 10px;
    padding: 10px 1rem;
}
.dashboard_title{
    margin-right: 2rem;
}
.search_icon_picture{
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
}
.user_info{
    display: flex;
    gap: 1rem;
}
.picture_notifications{
    cursor: pointer;
}