.rooms_container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}
.rooms_control{
    display: flex;
    gap: 1rem;
}
button{
    /* padding: 10px 1rem; */
    /* outline: none; */
    /* border: none; */
    /* background : none; */
    /* border-radius: 5px; */
    /* cursor: pointer; */
    /* color: #7A7A7A; */
}
.btn_active{
    background: linear-gradient(to right ,#A1FFFF,#EDBAFF);
    color: #1A1A1A;
}
.btn_add_room{
    background: linear-gradient(to right ,#A1FFFF,#EDBAFF);
    color: #1A1A1A;
}

.plus{
    margin: 0 5px;
}