.logo{
    display: flex;
    align-items: center;
    gap: 1rem;
    position: relative;
    margin-bottom: 1rem;
    padding: 1rem;
}
.logo::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: linear-gradient(to right ,#A1FFFF,#EDBAFF);
}
.title_logo{
    font-size: 1.7rem;
}
.options{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
}
.option{
    display: flex;
    align-items: center;
    justify-content: flex-start; 
    gap: 1rem; 
    padding-left: 1rem;
}
.picture_option{
    width: 30px;
    aspect-ratio: 1/1;
    justify-items: self-start;
}
.img_option{
    width: 100%;
}
.option:hover{
    cursor: pointer;
}