
.system_Humidity{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 18rem;
    padding: 1rem;
    border: 2px solid #EDBAFF;
    border-radius: 15px;
    height: 25vh;
}
.btn_control{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-evenly;
}
.window_title{
    font-size: 1.5rem;
}
.humidity_value_img{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

#humidity_value{
    font-size: 2rem;
    background: linear-gradient(to right, #A1FFFF, #EDBAFF);
    -webkit-background-clip: text; 
    background-clip: text; 
    color: transparent; 
    margin: 10px 0;
}